@import url('file:///Users/cabanisvalentin/Desktop/KEDGE%20BS%20/MSC%20M1%20MARKETING/M1%20S2/Codage%20de%20wagon/Landing%20Page/LandingPage.html');

body {
    margin: 0;
    font-family: Open Sans;
}

h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
}

h3 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

a {
    text-decoration: none;
}

p {
color: black;

}


img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


 .banner {
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    display: block;
   
}


.container {
    width: 80%;
    text-align: center;
    margin: auto;
}



.btn-primary {
    display: inline-block;
    background-color: white;
    padding: 16px 36px;
    border-radius: 50px;
    color: purple;

}


.text-center {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;


}

.card {
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230 230 230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}

.card img {
    width: 150px;
    height: 170px;
}



.footer {
    text-align: center;
    padding: 60px;
    background-color: lightgray;
    
}


.footer a {
    font-size: 60px;
    color: purple;
}




